<div class="container mx-auto mt-5 w-50">
  <form (submit)='performRoll()'>
    <div class="form-group">
        <label for="diceCount">Dice count</label>
        <input type="number" class="form-control-sm" id="diceCount"placeholder="0" [(ngModel)]="diceCount" name="diceCount">
    </div>
    <div class="form-group">
      <label for="diceType">Dice type</label>
      <select class="form-control-sm" id="diceType" [(ngModel)]="diceType" name="diceType">
        <option>d4</option>
        <option>d6</option>
        <option>d8</option>
        <option>d10</option>
        <option>d20</option>
        <option>d100</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Roll</button>
  </form>
</div>