<div>
    <form>
        <div class="form-group">
            <label for="diceCount">Dice count</label>
            <input type="number" class="form-control" id="diceCount"placeholder="0">
        </div>
        <div class="form-group">
          <label for="diceType">Dice type</label>
          <select class="form-control" id="diceType">
            <option>d4</option>
            <option>d6</option>
            <option>d8</option>
            <option>d10</option>
            <option>d20</option>
            <option>d100</option>
          </select>
        </div>
      </form>
</div>